<p>Hello {{senderName}},

{{requesterName}} has requested {{amount}} from you. Please consider fulfilling this money request.

Reason: {{reason}}

Click the following link to fulfill the request: {{fulfillmentLink}}

Thank you,
{{yourAppName}}
</p>
